@use "../../styles/mixin.scss" as mixin;

.title {
  justify-content: center;
  width: 80%;
  text-align: center;
  margin: 0 auto;
  // margin-top: 56px;
  h1 {
    margin: 52px auto;
    font-size: mixin.$font-size-h1;
  }
  @include mixin.desktop {
    height: 10vh;
  }
}

.container {
  padding-bottom: 56px;
  margin: 0 auto;
  width: 90%;

  @include mixin.desktop {
    height: 90vh;
    overflow: scroll;
  }
  @include mixin.desktop {
    // max-width: 1080px;
    width: 80%;
  }
  // max-width: 90%;
  // margin: 0 auto;

  // @include mixin.tablet {
  //   min-width: 80%;
  //   max-width: 90%;
  // }
}
///////////////////////////////
.bg {
  background-color: mixin.$secondary-bg-color;
}

.subTitle {
  padding: 52px;
  font-size: mixin.$font-size-p;
  text-align: center;
  font-family: mixin.$second-font-stack;
  animation: blinking 1.5s ease-in-out infinite alternate;
}

@keyframes blinking {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.workImg {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  cursor: pointer;
  position: relative;
  object-fit: cover;
  //   background-image: url(../../images/workout_tracker.jpg);
  //   background-position: center;
  //   background-size: contain;
}
.workDetail {
  background-color: hsla(50, 33%, 25%, 0.75);
  border-radius: 16px;
  cursor: pointer;
  width: 100%;
  height: 450px;
  border-radius: 10px;
  position: absolute;
}

/////

.cardWrapper {
  height: 500px;
  // outline: 1px blue solid;
  margin-top: 10%;
  // &:first-child {
  //   margin-top: 0;
  // }
}

.rowWrapper {
  @include mixin.tablet {
    display: flex;
    justify-content: space-between;
    margin-top: 52px;

    .cardWrapper {
      margin: 0;
    }
    .work1 {
      min-width: 60%;
    }
    .work2 {
      margin-left: 40px;
    }
    .work3 {
      margin-right: 40px;
    }
    .work4 {
      min-width: 60%;
    }
    .work5 {
      min-width: 60%;
    }
    .work6 {
      margin-left: 40px;
    }
  }
}
