$color-red: red;
$color-blue: blue;
$color-green: green;

//color
$primary-color: #d5c6b9;
$secondary-color: #fdf7f2;
$accent-color: #dca0a2;

$primary-bg-color: #fff;
$secondary-bg-color: #fbf6f4;

$primary-font-color: #3e3e3e;

//font-size

$font-size-h1: 2.8rem;
$font-size-h2: 2.3rem;
$font-size-p: 1.3rem;

@mixin tablet {
  @media only screen and (min-width: 768px) {
    @content;
  }
}

@mixin desktop {
  @media only screen and (min-width: 992px) {
    @content;
  }
}

//Layout
@mixin flexLayout {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin textStyles($transform: uppercase) {
  letter-spacing: -0.05em;
  text-transform: $transform;
}

@mixin centering($topValue) {
  position: absolute;
  top: $topValue;
  left: 50%;
  transform: translate(-50%, -50%);
}

//mixinでボタン作ると楽かも
@mixin mainBtn {
  background-color: $accent-color;
  text-align: center;
  display: block;
  border-radius: 8px;
  padding: 8px 12px;
  &:hover {
    opacity: 0.8;
    transition: 0.35s ease;
  }
}

//////////////////////////////////////
//Layoutで使うように置いとく

// .outline {
//   outline: red solid 1px;

//   @include mixin.tablet {
//     outline: solid 1px mixin.$color-blue;
//   }

//   @include mixin.desktop {
//     outline: solid 1px mixin.$color-green;
//   }
// }
