@import url("https://fonts.googleapis.com/css2?family=Forum&display=swap");
@import url("https://unpkg.com/ress/dist/ress.min.css");
@import url("https://fonts.googleapis.com/css2?family=Forum&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
//color
$primary-color: #d5c6b9;
$secondary-color: #fdf7f2;
$accent-color: #dca0a2;

$primary-bg-color: #fff;
$secondary-bg-color: #fbf6f4;
$accent-bg-color: #ddcec0;

$primary-font-color: #3e3e3e;

// $second-font-stack: "Karla", sans-serif;
$second-font-stack: "Montserrat", sans-serif;

//font-size

$font-size-h1: 3.8rem;
$font-size-h2: 3.2rem;
$font-size-h3: 2rem;
$font-size-p: 1.6rem;

@mixin tablet {
  @media only screen and (min-width: 780px) {
    @content;
  }
}

@mixin desktop {
  @media only screen and (min-width: 1080px) {
    @content;
  }
}

//Layout
@mixin flexLayout {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin textStyles($transform: capitalize) {
  letter-spacing: 0.05em;
  line-height: 1.7;
  text-transform: $transform;
}

@mixin centering($topValue) {
  position: absolute;
  top: $topValue;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin mainBtn($accent-color: #dca0a2) {
  font-size: 2.2rem;
  @include textStyles;
  background-color: $accent-color;
  text-align: center;
  display: block;
  border-radius: 16px;
  padding: 8px 16px;
  &:hover {
    cursor: pointer;
    opacity: 0.8;
    transition: 0.35s ease;
  }
}
