@use "../../styles/mixin.scss" as mixin;

.title {
  justify-content: center;
  width: 80%;
  text-align: center;
  margin: 52px auto;

  h1 {
    font-size: mixin.$font-size-h1;
  }
}

.bg {
  background-color: mixin.$secondary-bg-color;
}

.container {
  margin: 56px auto;
  padding-top: 56px;
  padding-bottom: 56px;
  width: 90%;

  @include mixin.desktop {
    padding: 0;
    display: flex;
    width: 80%;
  }
}

/////////////////

.main {
  justify-content: center;
  width: 75%;
  text-align: center;
  margin: 16px auto;
  background-color: mixin.$accent-bg-color;
  border-radius: 8px;
  box-shadow: 20px 10px;
  font-family: mixin.$second-font-stack;

  .h3 {
    padding: 12px 0;
    font-size: mixin.$font-size-h3;

    span {
      font-weight: bold;
      color: mixin.$accent-color;
    }
  }

  .h2 {
    padding: 6px 0;
    font-size: mixin.$font-size-h2;
    color: mixin.$secondary-color;
  }
}

.detail {
  justify-content: center;
  width: 90%;
  font-size: mixin.$font-size-p;
  word-break: break-word;
  margin: 24px auto;
  @include mixin.textStyles(none);
  font-family: mixin.$second-font-stack;

  li {
    padding: 6px 0;
    list-style: square;

    span {
      background: linear-gradient(transparent 45%, #dca0a2a8 50%);
    }
  }

  .tweet {
    display: block;
    text-align: center;
    max-width: 400px;
    justify-content: center;
    margin: 0 auto;
    animation: float 5s ease-in-out infinite;
    @include mixin.textStyles(none);

    @keyframes float {
      0% {
        transform: translateY(0%);
      }
      50% {
        transform: translateY(36%);
      }
      100% {
        transform: translateY(0%);
      }
    }

    span {
      background: linear-gradient(transparent 40%, #1da0f292 30%);
    }
  }
}

.socialMedia {
  text-align: center;
  margin: 32px auto;
  padding-top: 36px;
  width: 75%;
  @include mixin.flexLayout;
  @include mixin.desktop {
    margin: 12px auto;
  }
}
.socialMedia li:nth-child(2) {
  margin-left: 24px;
}
.socialMedia li:nth-child(3) {
  margin-left: 24px;
}
.socialMedia li:nth-child(4) {
  margin-left: 24px;
}
.icon {
  cursor: pointer;
  &:hover {
    opacity: 0.8;
    transition: 0.35s ease;
  }
}

.li {
  text-align: center;
  margin: 0 auto;

  align-items: center;
  font-size: mixin.$font-size-h3;
  &:hover {
    opacity: 0.8;
    transition: 0.35s ease;
  }
}

.btn {
  @include mixin.mainBtn;
  margin-top: 36px;
}

.profilePic {
  width: 300px;
  height: 320px;
  display: block;
  margin: 32px auto;
  justify-content: center;
  position: relative;
  border-radius: 50%;
  @include mixin.desktop {
    margin: 48px auto;
  }
}

.rightPart {
  height: 100%;
}

.leftPart,
.rightPart {
  margin: 56px 0;
}
