@use "../styles/mixin.scss" as mixin;

.title {
  justify-content: center;
  width: 80%;
  text-align: center;
  margin: 52px auto;
}

.h1 {
  padding: 16px;
  font-size: mixin.$font-size-h1;
}

.container {
  background-color: mixin.$secondary-bg-color;
  padding-top: 10%;
  padding-bottom: 10%;
}

/////////////////

.main {
  justify-content: center;
  width: 75%;
  text-align: center;
  margin: 16px auto;
  background-color: mixin.$accent-bg-color;
  border-radius: 8px;
  box-shadow: 20px 10px;

  .h3 {
    padding: 12px 0;
    font-size: mixin.$font-size-h3;

    span {
      font-weight: bold;
      color: mixin.$accent-color;
    }
  }

  .h2 {
    padding: 6px 0;
    font-size: mixin.$font-size-h2;
    color: mixin.$secondary-color;
  }
}

.detail {
  justify-content: center;
  width: 75%;
  font-size: 1.8rem;
  word-break: break-word;
  margin: 32px auto;
  @include mixin.textStyles(none);
  font-family: mixin.$second-font-stack;

  li {
    padding: 6px 0;
    list-style: square;

    span {
      background: linear-gradient(transparent 45%, #dca0a2a8 50%);
    }
  }

  .tweet {
    display: block;
    text-align: center;
    max-width: 400px;
    justify-content: center;
    margin: 0px auto;
    // padding: 24px;
    animation: float 5s ease-in-out infinite;
    @include mixin.textStyles(none);

    @keyframes float {
      0% {
        transform: translateY(0%);
      }
      50% {
        transform: translateY(36%);
      }
      100% {
        transform: translateY(0%);
      }
    }

    span {
      background: linear-gradient(transparent 40%, #1da0f292 30%);
    }
  }
}

.socialMedia {
  text-align: center;
  margin: 24px auto;
  width: 75%;
  padding: 24px;
  @include mixin.flexLayout;
}
.socialMedia li:nth-child(2) {
  margin-left: 24px;
}
.socialMedia li:nth-child(3) {
  margin-left: 24px;
}
.icon {
  cursor: pointer;
  &:hover {
    opacity: 0.8;
    transition: 0.35s ease;
  }
}

.li {
  text-align: center;
  margin: 0 auto;

  align-items: center;
  font-size: mixin.$font-size-h3;
  &:hover {
    opacity: 0.8;
    transition: 0.35s ease;
  }
}

.btn {
  @include mixin.mainBtn;
  margin-top: 24px;
}

.img {
  width: 330px;
  height: 350px;
  display: block;
  margin: 42px auto;
  position: relative;
  border-radius: 50%;
  // box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.img::after {
  // width: 350px;
  // height: 380px;
  // background-color: mixin.$primary-bg-color;
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  /* ①疑似要素のボックスを影色で塗りつぶし */
  background-color: rgb(42, 159, 226);
  transform: translateY(10px) scale(1.05);
  /* ④乗算で重ねる */
  mix-blend-mode: multiply;
}
