@use "../styles/mixin.scss" as mixin;

.title {
  justify-content: center;
  width: 80%;
  text-align: center;
  margin: 0 auto;

  h1 {
    margin: 52px auto;
    font-size: mixin.$font-size-h1;
  }
  @include mixin.desktop {
    height: 10vh;
  }
}

.container {
  padding-bottom: 56px;
  margin: 0 auto;
  width: 90%;
}
///////////////////////////////
.bg {
  padding-top: 56px;
  padding-bottom: 56px;
  background-color: mixin.$secondary-bg-color;
}

.subTitle {
  padding: 52px;
  font-size: mixin.$font-size-p;
  text-align: center;
  font-family: mixin.$second-font-stack;
  animation: blinking 1.5s ease-in-out infinite alternate;
}

@keyframes blinking {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.workImg {
  z-index: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
  position: relative;
}

.overLay {
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 16px;
  width: 100%;
  height: 450px;
  border-radius: 10px;
}

/////

.cardWrapper {
  height: 450px;
  margin-top: 10%;
}

.rowWrapper {
  @include mixin.tablet {
    display: flex;
    justify-content: space-between;
    margin-top: 52px;

    .cardWrapper {
      margin: 0;
    }
    .work1 {
      min-width: 60%;
    }
    .work2 {
      margin-left: 40px;
    }
    .work3 {
      margin-right: 40px;
    }
    .work4 {
      min-width: 60%;
    }
    .work5 {
      min-width: 60%;
    }
    .work6 {
      margin-left: 40px;
    }
  }
}

.notdisplayed {
  display: none;
}

.btn {
  @include mixin.mainBtn;
}

.content {
  display: block;
  width: 80%;
  margin: 0 auto;
  justify-content: center;
  text-align: center;
  h1 {
    padding-top: 10%;
    color: #fff;
    font-size: mixin.$font-size-h2;
  }

  p {
    color: #fff;
    font-size: mixin.$font-size-p;
    font-family: mixin.$second-font-stack;
    padding-top: 5%;
  }

  .tools {
    font-family: mixin.$second-font-stack;
    font-size: mixin.$font-size-p;
    justify-content: space-between;
    display: flex;
    width: 80%;
    margin: 24px auto;
    justify-content: space-between;
    span {
      display: block;
      padding: 12px;
      color: #fff;
      outline: 1px solid mixin.$accent-bg-color;
      border-radius: 16px;
      width: 120px;
    }
  }

  .site {
    justify-content: space-between;
    display: flex;
    width: 25%;
    margin: 0 auto;
    margin-top: 48px;
    color: mixin.$accent-color;
    cursor: pointer;
    font-size: 52px;
    z-index: 5;
  }
}
