@use "../../styles/mixin.scss" as mixin;

.div {
  width: 100%;
  border-bottom: 0.8px solid mixin.$primary-font-color;
}

.header {
  @include mixin.flexLayout;
  width: 80%;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  font-size: mixin.$font-size-h3;
}
.ul {
  align-items: center;
  display: flex;
}

.li {
  margin-left: 2rem;
  text-align: center;
  align-items: center;
  vertical-align: middle;
  padding-bottom: 0;
  &:hover {
    opacity: 0.8;
    transition: 0.35s ease;
  }
}
.accent {
  background-color: mixin.$accent-color;
  padding: 8px 12px;
  border-radius: 8px;
}

.displayNav {
  display: none;
  @include mixin.tablet {
    display: flex;
  }
}
