@use "../../styles/mixin.scss" as mixin;

.ul {
  display: flex;
  flex-direction: column;
  padding: 15%;
}

.li {
  font-size: mixin.$font-size-h3;
  margin-left: 1.6rem;
  text-align: center;
  align-items: center;
  vertical-align: middle;
  padding-bottom: 0;
  margin-top: 24px;
  &:hover {
    opacity: 0.8;
    transition: 0.35s ease;
  }
}

.btn {
  @include mixin.mainBtn(#fff);
  width: 150px;
  margin: 24px auto;
  justify-content: center;
  :hover {
    opacity: 0.8;
    transition: 0.35s ease;
  }
}

.mobileNav {
  @include mixin.tablet {
    display: none;
  }
}

.navEl {
  margin: 0 auto;
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mobileBg {
  position: absolute;
  background-color: mixin.$accent-color;
  top: 10vh;
  right: 0;
  width: 100%;
  height: 60%;
  z-index: 15;
}

.mobileNav {
  @include mixin.flexLayout;
  width: 80%;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  font-size: mixin.$font-size-h2;
  @include mixin.tablet {
    display: none;
  }
}
