@use "../../styles/mixin.scss" as mixin;

.ul {
  display: flex;
  flex-direction: column;
}

.header {
  @include mixin.flexLayout;
  width: 80%;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  font-size: mixin.$font-size-h2;
}

.li {
  margin-left: 1.6rem;
  text-align: center;
  align-items: center;
  vertical-align: middle;
  padding-bottom: 0;
  &:hover {
    opacity: 0.8;
    transition: 0.35s ease;
  }
}

.btn {
  @include mixin.mainBtn;
}

.mobileNav {
  @include mixin.tablet {
    display: none;
  }
}

.open {
  position: absolute;
  right: 10%;
  cursor: pointer;
}

.close {
  position: absolute;
  right: 10%;
  cursor: pointer;
}

.mobileBg {
  position: absolute;
  background-color: mixin.$secondary-bg-color;
  top: 60px;
  right: 0;
  width: 100%;
  height: 50%;
  z-index: 10;
}

.ul {
  padding: 15%;
}

.li {
  margin-top: 24px;
}
