@use "../../styles/mixin.scss" as mixin;

.workImg {
  z-index: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
  position: relative;
}

.overLay {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.1);
}

.cardWrapper {
  height: 450px;
  margin-top: 32px;
  border-radius: 10px;
}
.hover {
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.8);
  transition: 0.8s;
}

.content {
  display: block;
  width: 80%;
  margin: 0 auto;
  justify-content: center;
  text-align: center;

  h1 {
    @include mixin.textStyles;
    padding-top: 10%;
    color: #fff;
    font-size: mixin.$font-size-h2;
  }

  p {
    @include mixin.textStyles(none);
    color: #fff;
    font-size: mixin.$font-size-p;
    font-family: mixin.$second-font-stack;
    padding-top: 5%;
  }

  .tools {
    font-family: mixin.$second-font-stack;
    font-size: mixin.$font-size-p;
    justify-content: space-around;
    flex-wrap: wrap;

    display: flex;
    width: 80%;
    margin: 24px auto;

    span {
      margin-top: 8px;
      align-items: center;
      text-align: center;
      display: block;
      padding: 8px;
      color: #fff;
      outline: 1px solid mixin.$accent-bg-color;
      border-radius: 16px;
      min-width: 120px;
      width: auto;
    }
  }

  .site {
    justify-content: center;
    display: flex;
    min-width: 20%;
    width: 30%;
    margin: 0 auto;
    margin-top: 16px;
    color: mixin.$accent-color;
    cursor: pointer;
    font-size: 52px;
    z-index: 5;

    a {
      margin: 0 16px;
    }
  }
}
